<!--이력서등록화면-->
<div class="container">
  <div style="height:3000px"> 
        <h1 style="text-align:center" >이력서</h1>
        <form action="application" method="post" enctype="application/json" style="height:100%">
          <table class="table table-bordered"  style="width: 60%;height:30%" align="center">  
            <tr>
              <th  rowspan="1">성명</th>
      
              <td rowspan="1" colspan="6"><input class="form-control" name="registration_name" style="width:85%" type="text"> (인)</td>
            </tr>
      
            </tr>
            <tr>
                <th colspan="1" >주민등록번호</th>
                  <td colspan="6" style="width: 100%" colspan="2"><input class="form-control" style="width:100%" name="registration_number" placeholder="xxxxxx-xxxxxxx" type="text">
                  </td>
            <tr>
                <th style="width: 30%;" >생년월일</th>
                <td style="width: 100%" colspan="6">
                  <div style="float:left;width:33%">
                  <input class="form-control" style="width:88%;float:left" type="text" name="year"> 년
                  </div>
                  <div style="float:left;width:33%">
                    <input class="form-control" style="width:88%;float:left" name="month" type="text">월
                  </div>
                  <div style="float:left;width:33%">
                  <input class="form-control" style="width:88%;float:left" type="text" name="day"> 일
                 </div>
                 <div stlye="float:center;margin-top:10px" >
                 <input class="form-control" style="width:30%;float:left" type="text" name="registration_old"> 세</td>
                </div>
            </tr>
            <tr>
              <th style="width: 30%;" colspan="1">주소</th>
      
              <td  colspan="6"><input class="form-control" style="width: 100%" type="text" name="registration_address"></td>
            </tr>
            <tr>
      
              <th style="width: 30%;" rowspan="3" colspan="1">연락처</th>
              <th style="width: 30%;">휴대폰</th>
      
              <td colspan="2" ><input class="form-control" type="text" name="registration_tel"></td>
  
      
            </tr>
            <tr><th rowspan="1">email</th>
              <td colspan="2"  rowspan="1"><input class="form-control" type="text" name="registration_email"></td></tr>
            <tr>
      
                <th >집</th>
      
                <td colspan="6"> <input class="form-control" style="width:100%;" type="text" name="registration_home"></td>
      
            </tr>
      
            <tr>
              <th  >졸업연도</th>
              <th style="width: 50%;" colspan="2">학력 및 경력 사항</th>
      
              <th style="width: 30%;" colspan="2">비고</th>
      
            </tr>
      
            <tr>
              <td><input class="form-control" type="date" style="width:100%" name="level_of_education_11" ></td>
              <td colspan="2"><input class="form-control" style="width:100%"colspan="4" type="text" name="level_of_education_12"></td>
      
              <td colspan="2"><input class="form-control" style="width:100%" type="text" name="level_of_education_13"></td>
            </tr>
            <tr>
                    <td><input class="form-control" type="date" style="width:100%" name="level_of_education_21" ></td>
                    <td colspan="2"><input class="form-control" style="width:100%"colspan="4" type="text" name="level_of_education_22"></td>
            
                    <td colspan="2"><input class="form-control" style="width:100%" type="text" name="level_of_education_23"></td>
                  </tr>
            <tr>
      
                <td><input class="form-control" type="date" name="level_of_education_31" style="width:100%"></td>
      
      
              <td colspan="2"><input class="form-control" style="width:100%" type="text" name="level_of_education_32"></td>
      
              <td colspan="2"><input class="form-control" style="width:100%" type="text" name="level_of_education_33"></td>
      
            </tr>
            <tr>
                <td><input class="form-control" type="date" name="level_of_education_41" style="width:100%"></td>
      
      
              <td colspan="2"><input class="form-control" style="width:100%" type="text" name="level_of_education_42"></td>
      
              <td colspan="2"><input class="form-control" style="width:100%" type="text" name="level_of_education_43"></td>
            </tr>
            <tr>
              <td colspan="8" style="text-align: center;">`
                <input class="form-control" type="hidden" name="employee_id" value="<%=sess.info.employee_id%>">
            <button class="btn btn-warning" type="submit">제출</button>
            <a href="/applciation"><button class="btn btn-warning">취소</button></a>
        </td>
        </tr>
          </table>
          
        </form>
      </div>
    </div>