<div class="w-25 m-auto">
    <form class="form-signin" action="login" method="POST">
        <div class="text-center mb-4">
            <br /><br /><br /> <br /><br /><br /> <br />
            <h1 class="h3 mb-3 font-weight-normal">Login</h1>

        </div>
        <div class="form-label-group">
            <label for="inputEmail">employee_id</label>
            <input type="text" class="form-control" placeholder="employee_id" required="" name="employee_id"
                autofocus="">
        </div>

        <div class="form-label-group">
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""
                name="employee_pw">
        </div>
        <button class="btn btn-outline-primary btn-block" type="submit">Sign in</button>
        <button class="btn btn-outline-primary btn-block" onclick="location.href='./join'">Sign up</button>
    </form>
</div>