<div class="w-25 m-auto">
        <form class="form-signin" action="rlogin" method="POST">
            <div class="text-center mb-4">
                <br /><br /><br /> <br /><br /><br /> <br />
                <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    
            </div>
            <div class="form-label-group">
                <label for="inputEmail">employer_id</label>
                <input type="text" class="form-control" placeholder="employer_id" required="" name="employer_id"
                    autofocus="">
            </div>
    
            <div class="form-label-group">
                <label for="inputPassword">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""
                    name="employer_pw">
            </div>
            <button class="btn btn-outline-primary btn-block" type="submit">Sign in</button>
            <button class="btn btn-outline-primary btn-block" onclick="location.href='./rjoin'">Sign up</button>
        </form>
    </div>