<!--구직자평가내용화면-->
<h1>구직자 평가 화면</h1>
<div style="border:1;">
	<div><img src=`http://localhost:3000/img/${userid}` alt="goodnees"></div>
	<div>이름:<%=res.body.userID%></div>
	<div>평가항목:<%res.body.employee_evaluation.content%></div>
	<div></div>
</div>
