<!--그룹게시판등록-->
<script>
    var back=function(frm){        
     var url = document.location.href;
     var cut=url.split('/');
     
     frm.action=`/employer/group/board/${cut[7]}`;
     frm.method="get"
     frm.submit();
     
      return true;
        
    }
  </script>
  <div>
    <!--이력서등록화면-->
  
      <form action=<%=`http://localhost:3000/employer/group/board/regist/${sess.info.group_num}`%> method="post" enctype="application/json"
        style="height:100%">
      <div class="container">  
        <table class="table table-bordered">
          <tr>
            <th>제목</th>
            <td><input name="name" style="width:85%" type="text"></td>
            <th>작성자</th>
            <td><%=sess.info.employer_id%></td>
          </tr>
          <tr>
          </tr>
          <tr>
            <th>내용</th>
            <td colspan="3"><textarea row=s"10" cols="30" name="content" style="width:1000px;height:300px"></textarea></td>
          </tr>
        </table>
      </div>
      <div style="text-align: center;">
        <button style="width:300px;color:white"  class="btn btn-warning" type="submit">등록</button>
        <input  style="width:300px;color:white" class="btn btn-warning" type="button" onclick="return back(this.form)" value="목록으로">
      </div>
      </form>
  </div>