<!--그룹생성-->
<div class="w-25 m-auto">
	<form
		class="form-signin"
		action="http://localhost:3000/employer/groupcreate"
		method="POST"
	>
		<div class="text-center mb-4">
			<br /><br /><br />
			<br /><br /><br />
			<br />
			<h1 class="h3 mb-3 font-weight-normal">그룹생성</h1>
		</div>
		<div class="form-label-group">
			<label>그룹명</label>
			<input
				type="text"
				class="form-control"
				placeholder="id"
				required=""
				name="group_name"
				autofocus=""
			/>
		</div>

		<div class="form-label-group">
			<label>그룹지역</label>
			<input
				type="text"
				class="form-control"
				placeholder="Password"
				required=""
				name="group_area"
			/>
		</div>

		<input type="hidden" name="group_grade_code" value="0" />
		<button class="btn btn-outline-primary btn-block" type="submit">
			그룹 생성
		</button>
		<a></a>
	</form>
</div>
